<nav class="bg-dark dark:bg-gray-900 border-b border-gray-200 dark:border-gray-600">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-4">
		<a href="{{ path('homepage') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img class="h-12" src="{{ asset('build/images/logo.png') }}" alt="Pirates">
			<span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Pirates</span>
		</a>
	</div>
</nav>