{% extends 'base.html.twig' %}

{% block title %}
	Pirates || Toute l'histoire
{% endblock %}

{% block body %}
	<div id="homepage" class="w-full h-screen bg-[url('../../assets/images/desktop.jpg')] bg-cover bg-center flex justify-end items-center flex-1 homepage">
		<figure
			class="book w-1/2 h-1/3 tablet:w-1/2 tablet:h-1/2 laptop:w-1/3 laptop:h-3/4 m-0 tablet:mr-4 laptop:mr-8">

			<!-- Front -->
			<ul class="hardcover-front">
				<li>
					<div class="cover-design absolute bg-black mix-blend-lighten flex flex-col justify-center items-center bg-contain">
						<h3 class="tablet:text-4xl laptop:text-4xl text-red mix-blend-lighten text-center font-bold px-10">Une<br>histoire de<br>Pirates</h3>
						<img class="tablet:w-1/2 laptop:w-2/3 mix-blend-lighten" src="{{ asset('build/images/logo.png') }}" alt="Logo du site Pirates" loading="lazy"/>
					</div>
				</li>
				<li></li>
			</ul>

			<!-- Pages -->
			<ul class="page font-pirate">
				<li class="flex flex-col justify-center items-center">
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Il était une fois l'histoire du Pirates Capitaine Jerrick Rambling Morden et de son trésor.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Un jeu captivant où vous devrez voguer à bord de votre bateau d'île en île pour trouver ou a été caché le trésor.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Jeu réalisé avec Symfony 6, Docker, Gitlab Ci, Tailwind Css, Webpack Encore, Doctrine et Twig.</p>
				</li>
				<li class="flex flex-col justify-center items-center">
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">J'ai dû mouiller l'ancre et abandonner mon trésor sur une île perdue.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Si un marin d'eau douce est paré à virer, mon trésor deviendra le sien.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Allez mille sabords, il est grand temps de lever l'ancre...</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5 text-right">Capitaine Froldev Barbe Noire</p>
					<div class="flex justify-center items-center mt-5">
						<a href="{{ path('start') }}" class="button bg-transparent hover:bg-red text-4xl tablet:text-4xl laptop:text-2xl text-red hover:text-white text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5 px-4 border border-red hover:border-transparent rounded">Naviguer</a>
					</div>
				</li>
				<li class="flex flex-col justify-center items-center">
					<img class="laptop:w-3/4" src="{{ asset('build/images/boat-draw.png') }}" alt="Dessin du bateau" loading="lazy"/>
				</li>
				<li class="flex flex-col justify-center items-center">
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Ce jeu de chasse au trésor a été réalisé avec Symfony, Tailwind Css, Docker et Gitlab-ci.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Déplacez-vous d'île en île pour découvrir où est caché le trésor.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Application développée avec Github Copilot.</p>
				</li>
				<li class="flex flex-col justify-center items-center">
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Saurez-vous où a été caché le trésor du capitaine Capitaine Jerrick Rambling Morden.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Cliquez sur le bouton "Chercher" et voguez à travers les flots.</p>
					<p class="text-base text-4xl tablet:text-4xl laptop:text-2xl text-justify py-5 px-10 tablet:py-2 tablet:px-5 laptop:py-2 laptop:px-5">Il est temps de chercher le trésor.</p>
				</li>
			</ul>

			<!-- Back -->
			<ul class="hardcover-back">
				<li></li>
				<li></li>
			</ul>
			<!-- tranche -->
			<ul class="book-spine">
				<li></li>
				<li></li>
			</ul>
		</li>
	</figure>
</div>{% endblock %}
