{% extends 'base.html.twig' %}

{% block title %}Pirates || Trouver le Trésor{% endblock %}

{% block body %}
<div id="map" class="w-screnn h-screen bg-[url('../../assets/images/map.jpg')] bg-cover bg-no-repeat  bg-center flex flex-col justify-center items-center">
    {% if map is empty %}
        <div class="alert alert-warning">Vous devez intégrer les fixtures avant de pouvoir avoir accès à la carte !</div>
    {% else %}
        <div class="basis-1/12 laptop:hidden flex justify-center items-center">
            <img class="w-1/2" src="{{ asset('build/images/logo.png') }}" alt="Logo du site Pirates" loading="lazy"/>
        </div>
        <!-- Map -->
        <div class="basis-8/12">
            <div class=" grid grid-cols-12 grid-rows-6">
            {% for y in 0..6 %}
                {% for x in 0..12 %}
                    {% if map[x][y] is defined %}
                        <div class="relative bg-center mix-blend-hard-light text-center text-opacity-0 hover:text-opacity-75 hover:border-2 hover:border-gray-600 tile {{ map[x][y].type }}">
                            <div class="absolute font-caribbean text-6xl text-gray-600 inset-0 hidden coords">{{ map[x][y].coordX }},{{ map[x][y].coordY }}</div>
                            {% if boat.coordX == x and boat.coordY == y %}
                                <img id="boat" class="boat" src="{{ asset('build/images/boat.png') }}" alt="boat" loading="load"/>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        <!-- Direction -->
        <div class="basis-3/12 w-1/2 md:w-full flex justify-center items-start opacity-50">
            <div class="w-full flex flex-col justify-center">
                <a class="bg-red hover:bg-white text-xl text-center text-white hover:text-red font-bold p-4 w-full border border-white rounded-t-lg js-move" href="{{ path("boat_update", { direction: "N"}) }}">N</a>
                <div class="flex flex-row w-full">
                    <a class="bg-red hover:bg-white text-xl text-center text-white hover:text-red font-bold p-4 w-1/2 border border-white js-move" href="{{ path("boat_update", { direction: "W"}) }}">O</a>
                    <a class="bg-red hover:bg-white text-xl text-center text-white hover:text-red font-bold p-4 w-1/2 border border-white js-move" href="{{ path("boat_update", { direction: "E"}) }}">E</a>
                </div>
                <a class="bg-red hover:bg-white text-xl text-center text-white hover:text-red font-bold p-4 w-full border border-white rounded-b-lg js-move" href="{{ path("boat_update", { direction: "S"}) }}">S</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('moveBoat') }}
{% endblock %}
