@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

ul {
    margin-bottom: 0;
}
