@font-face {
    font-family: Caribbean;
    src: url("../fonts/Caribbean.ttf");
}

@font-face {
    font-family: Pirate;
    src: url("../fonts/JackPirate.ttf");
}

.font-caribbean {
    font-family: Caribbean;
}

.font-pirate {
    font-family: Pirate;
}

nav a {
    font-size: 1.75vh;
}
