.book {
    -webkit-perspective: 125vh;
    -moz-perspective: 125vh;
    perspective: 125vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

li::marker {
    color: transparent;
}

/* couverture devant */
.hardcover-front li:first-child {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hardcover-front li:first-child,
.hardcover-front li:last-child,
.hardcover-back li:first-child,
.hardcover-back li:last-child,
.book-spine li:first-child,
.book-spine li:last-child {
    background-color: #000000;
    background-image: -webkit-linear-gradient(53deg, #3c3c42 0%, #08080a 100%);
    background-image: -moz-linear-gradient(53deg, #3c3c42 0%, #08080a 100%);
    background-image: linear-gradient(53deg, #3c3c42 0%, #08080a 100%);
}

/* couvertures */
.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before,
.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before,
.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before,
.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before,
.book-spine li:first-child:after,
.book-spine li:first-child:before,
.book-spine li:last-child:after,
.book-spine li:last-child:before {
    background: #999;
}

/* page */
.page>li {
    padding: 20px;
    color: #7e5e33;
    border: 1px solid #ba863d;
    background: rgb(242, 224, 180);
    background: -moz-radial-gradient(circle,
            rgba(242, 224, 180, 1) 50%,
            rgba(231, 193, 146, 1) 80%,
            rgba(168, 118, 79, 1) 100%);
    background: -webkit-radial-gradient(circle,
            rgba(242, 224, 180, 1) 50%,
            rgba(231, 193, 146, 1) 80%,
            rgba(168, 118, 79, 1) 100%);
    background: radial-gradient(circle,
            rgba(242, 224, 180, 1) 50%,
            rgba(231, 193, 146, 1) 80%,
            rgba(168, 118, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2e0b4", endColorstr="#a8764f", GradientType=1);
}

/* ouverture*/
.hardcover-front {
    -webkit-transform: rotateY(-32deg) translateZ(8px);
    -moz-transform: rotateY(-32deg) translateZ(8px);
    transform: rotateY(-32deg) translateZ(8px);
    z-index: 100;
}

.hardcover-back {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
    -webkit-transform: rotateY(-26deg);
    -moz-transform: rotateY(-26deg);
    transform: rotateY(-26deg);
}

.page li:nth-child(2) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.page li:nth-child(3) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.page li:nth-child(4) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
}

.page li:nth-child(5) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
}

/* position */
.hardcover-front,
.hardcover-back,
.book-spine,
.hardcover-front li,
.hardcover-back li,
.book-spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hardcover-front,
.hardcover-back {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.hardcover-front {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}

/* couverture devant */
.hardcover-front li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover-front li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}

/* couverture derriere */
.hardcover-back li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover-back li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before,
.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before,
.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before,
.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before,
.book-spine li:first-child:after,
.book-spine li:first-child:before,
.book-spine li:last-child:after,
.book-spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}

/* couverture */
.hardcover-front li:first-child:after,
.hardcover-front li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover-front li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover-front li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover-front li:last-child:after,
.hardcover-front li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover-front li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}

.hardcover-front li:last-child:before {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.hardcover-back li:first-child:after,
.hardcover-back li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover-back li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover-back li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover-back li:last-child:after,
.hardcover-back li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover-back li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover-back li:last-child:before {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* tranche du livre */
.book-spine {
    -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}

.book-spine li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.book-spine li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

/* bordure */
.book-spine li:first-child:after,
.book-spine li:first-child:before {
    width: 4px;
    height: 100%;
}

.book-spine li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book-spine li:first-child:before {
    -webkit-transform: rotateY(-90deg) translateZ(-12px);
    -moz-transform: rotateY(-90deg) translateZ(-12px);
    transform: rotateY(-90deg) translateZ(-12px);
}

.book-spine li:last-child:after,
.book-spine li:last-child:before {
    width: 4px;
    height: 16px;
}

.book-spine li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book-spine li:last-child:before {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

/* Page */
.page,
.page>li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
}

.page>li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    overflow: hidden;
}

.page>li:nth-child(1) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page>li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page>li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page>li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.page>li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

/* Page hover */
.book:hover>.hardcover-front {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
}

.book:hover>.page li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.book:hover>.page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.book:hover>.page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg) translateZ(-2px);
    -moz-transform: rotateY(-118deg) translateZ(-2px);
    transform: rotateY(-118deg) translateZ(-2px);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}

.book:hover>.page li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}

.book:hover>.page li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.boat-draw {
    height: 40vh;
}

/* cover CSS */
.cover-design {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cover-design::after {
    background-image: -webkit-linear-gradient(-135deg,
            rgba(255, 255, 255, 0.45) 0%,
            transparent 100%);
    background-image: -moz-linear-gradient(-135deg,
            rgba(255, 255, 255, 0.45) 0%,
            transparent 100%);
    background-image: linear-gradient(-135deg,
            rgba(255, 255, 255, 0.45) 0%,
            transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
