.tile {
    height: 200px;
    width: 120px;
}

.tile:hover .coords {
    display: block;
}

@keyframes myBoat {
    0% {
        transform: rotate(-5deg);
        transform: translate(0 px, 0 px);
    }

    50% {
        transform: translate(5px, 5px);
    }

    100% {
        transform: rotate(5deg) translate(0px, 0px);
    }
}

.boat {
    animation: 3s linear myBoat 0s infinite alternate;
}

.sea {
    background: url("../images/sea-sm.png") no-repeat center;
}

.port {
    background: url("../images/port-sm.png") no-repeat center;
}

.island {
    background: url("../images/island-sm.png") no-repeat center;
}

// Tablet
@media (min-width: 768px) {
    .sea {
        background: url("../images/sea-md.png") no-repeat center;
    }
    .port {
        background: url("../images/port-md.png") no-repeat center;
    }
    .island {
        background: url("../images/island-md.png") no-repeat center;
    }
    .tile {
        height: 160px;
    }
}

// Desktop
@media (min-width: 1024px) {
    .sea {
        background: url("../images/sea-lg.png") no-repeat center;
    }
    .port {
        background: url("../images/port-lg.png") no-repeat center;
    }
    .island {
        background: url("../images/island-lg.png") no-repeat center;
    }
    .tile {
        height: 120px;
    }
}