{% extends 'base.html.twig' %}

{% block title %}Pirates || Victoire{% endblock %}

{% block body %}
<div id="victory" class="w-full h-screen bg-[url('../../assets/images/treasure.jpg')] bg-cover bg-center flex justify-center items-center flex-1">
    <div class="w-full tablet:w-2/3 laptop:w-2/3">
        <h3 class="bg-black bg-opacity-50 text-6xl tablet:text-4xl laptop:text-4xl text-red text-center font-bold bg-contain p-20 tablet:p-10 laptop:p-10 border border-white">Victoire</h3>
        <div class="bg-white bg-opacity-50 border border-white flex flex-col p-20 tablet:p-10 laptop:p-10">
            <p class="text-4xl tablet:text-2xl laptop:text-xl text-dark text-justify py-2 px-5">Vous avez trouvé l'île abandonnée et découvert le trésor tant recherché par les plus grands Pirates ...</p>
            <p class="text-4xl tablet:text-2xl laptop:text-xl text-dark text-justify py-2 px-5">Qu'allez-vous faire de tout cet or ???</p>
            <p class="text-4xl tablet:text-2xl laptop:text-xl text-dark text-justify py-2 px-5">Allez-vous réécrire l'histoire ???</p>
            <p class="text-4xl tablet:text-2xl laptop:text-xl text-dark text-justify py-2 px-5">Ou de nouveau larguer les amarres et chercher les autres trésors du Capitaine Froldev Barbe Noire</p>
            <p class="text-4xl tablet:text-2xl laptop:text-xl text-dark text-justify py-2 px-5">car il n'y a pas qu'un seul trésor ...</p>
            <div class="flex justify-center">
                <img class="w-1/2 laptop:w-1/6" src="{{ asset('build/images/logo.png') }}" alt="Pirates" loading="lazy"/> 
            </div>
            <div class="flex justify-around mt-10">
                <a class="button bg-white hover:bg-red text-4xl tablet:text-2xl laptop:text-xl text-red hover:text-white text-justify py-4 px-6 laptop:py-2 laptop:px-3 border border-red hover:border-transparent rounded" href="{{ path('homepage') }}">Histoire</a>
                <a class="button bg-white hover:bg-red text-4xl tablet:text-2xl laptop:text-xl text-red hover:text-white text-justify py-4 px-6 laptop:py-2 laptop:px-3 border border-red hover:border-transparent rounded" href="{{ path('start') }}">Recommencer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
